<div class="card">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">
      <mat-icon>lock</mat-icon>
      <span>Mon mot de passe</span>
    </h5>
  </div>
  <div class="card-body">
    <form #passwordForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="Ancien mot de passe" required [(ngModel)]="form.oldPassword" name="oldPassword">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nouveau mot de passe" required [(ngModel)]="form.newPassword" name="newPassword">
      </mat-form-field>

      <div class="form-actions">
        <button *ngIf="!saving" mat-raised-button color="primary" (click)="validate(passwordForm.form)" [disabled]="passwordForm.form.invalid">Mettre à jour</button>
        <mat-spinner *ngIf="saving" [diameter]="25" style="margin: auto"></mat-spinner>
      </div>
    </form>
  </div>
</div>
