##
# Copyright (C) Mickael Jeanroy - All Rights Reserved.
# Unauthorized copying of this file, via any medium is strictly prohibited.
# Proprietary and confidential.
##

# IDE
/.idea
*.iml

# Maven
target/

# NODE, NPM & AngularCLI
node_modules/
dist/

# Binaries & Logs
*.jar
*.log
