<!--
 Copyright (C) Mickael Jeanroy - All Rights Reserved.
 Unauthorized copying of this file, via any medium is strictly prohibited.
 Proprietary and confidential.
-->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.github.mjeanroy.wc18" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.hibernate" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="org.springframework" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
