<div class="card">
  <div class="card-header bg-primary text-white">
    <h5 class="card-title">
      <span>Utilisateurs</span>
    </h5>
  </div>
  <div class="card-body">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <td>Login</td>
          <td>Role</td>
          <td></td>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users">
          <td>{{ user.login }}</td>
          <td>{{ user.role }}</td>
          <td class="column-action">
            <button mat-raised-button color="primary" type="button" (click)="openNewBetDialog(user)">
              <mat-icon>games</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div>
      <button mat-raised-button color="primary" type="button" (click)="openNewUserDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
