<div>
  <div class="days-navigation">
    <button class="btn-day btn-day-previous" mat-mini-fab color="primary" [disabled]="!hasPrevious()" (click)="previousDay()">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <span class="day-label">{{ current?.date | date }}</span>

    <button class="btn-day btn-day-previous" mat-mini-fab color="primary" [disabled]="!hasNext()" (click)="nextDay()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div>
    <app-bets [bets]="current?.bets"></app-bets>
  </div>
</div>
