<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Prochaines journées</h5>
        </div>
        <div class="card-body">
          <bet-days [bets]="bets"></bet-days>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Mes Pronostics</h5>
        </div>
        <div class="card-body">
          <app-bets [bets]="bets"></app-bets>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
