<h1 mat-dialog-title>Choisir un Utilisateur</h1>
<div mat-dialog-actions>
  <form #userSelectionForm="ngForm">
    <mat-form-field>
      <mat-select placeholder="Login" [(ngModel)]="user" name="user">
        <mat-option *ngFor="let user of users" [value]="user">{{ user.login }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-actions">
      <button mat-raised-button color="primary" (click)="validate()" [disabled]="userSelectionForm.form.invalid">Ajouter</button>
      <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
    </div>
  </form>
</div>
